.o_obi_dev_module{
    color: black;
    cursor: pointer;
}
.o_obi_dev_module:hover {
    color: red;
}
.obi_upgrade_dropdown{
    width: 200px;
}
/* log style */
.o_odev_log{
    width: 1024px;
}
/* .o_odev_log_dropdown{
    width: 95%;
} */